<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Main Home Page</title>
</head>
<body>
    <h1>Welcome to MicroBlogger!</h1>
    <a href="/author/home"><button>Go to Author Home Page</button></a>
    <a href="/reader/home"><button>Go to Reader Home Page</button></a>
</body>
</html>